<div class="container f32">

  <div class="topbar">
    <%= link_to  '<i class="icon-remove"></i> '.html_safe+t('actions.cancel'), students_path, :class=>"floatleft"%>
    <h2><%= @title %></h2>
  </div>
  <div class="row">
    <div class="span10 offset1">
      <div class="well">
        <%= nested_form_for @student do |f| %>

            <legend><%= t("students.details") %></legend>
            <div class="row-fluid">
              <div class="span6">
                <p>
                  <label><%= t("students.full_name") %></label>
                  <%= f.text_field :name, tabindex: 1 %>
                </p>
                <p>
                  <label><%= t("students.birthday") %></label>
                <div class="input-append">
                  <%= f.text_field :birthday, tabindex: 3, class: 'datefield datefield_past', value: ldate(@student.birthday )  %>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                </p>
                <p>
                  <label><%= t("students.university") %></label>
                  <%= f.text_field :university, tabindex: 5 %>
                </p>
                <p>
                  <label><%= t("students.languages") %></label>
                  <%= f.text_field :languages, tabindex: 7 %>
                </p>
                <p>
                  <label><%= t("students.mail") %></label>
                  <%= f.text_field :mail, tabindex: 9 %>
                </p>
                <p>
                  <label><%= t("students.payment") %></label>
                  <%= f.text_field :payment, tabindex: 11 %>
                </p>
              </div>
              <div class="span6">
                <p>
                  <label><%= t("students.country") %></label>
                  <%= f.collection_select :country,  Country.order('name_heb ASC') ,  :id, :name_heb,{}, tabindex: 2 %>
                </p>
                <p>
                  <label><%= t("students.arrival_date") %></label>
                <div class="input-append">
                  <%= f.text_field :arrival_date, tabindex: 4, class: 'datefield', value: ldate(@student[:arrival_date]) %>
                  <span class="add-on"><i class="icon-calendar"></i></span>
                </div>
                </p>
                <p>
                  <label><%= t("students.year") %></label>
                  <%= select_tag("student[year]", options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6]], @student.year), tabindex: 6)%>
                </p>
                <p>
                  <label><%= t("students.past_departments") %></label>
                  <%= f.text_field :past_departments, tabindex: 8, id: 'departments_tags' %>
                </p>
                <p>
                  <label><%= t("students.passport") %></label>
                  <%= f.text_field :passport, tabindex: 10 %>
                </p>
              </div>
            </div>

            <legend><%= t("requests.title") %></legend>

            <table class="table table-condensed">
              <thead>
              <tr>
                <th><%= t("requests.department") %></th>
                <th><%= t("requests.hospital") %></th>
                <th><%= t("requests.begin_date") %></th>
                <th><%= t("requests.finish_date") %></th>
              </tr>
              </thead>
            </table>
            <% i=12 %>
            <% @student.requests.order('begin_date').each do |request| %>
                <%= f.fields_for :requests, request, wrapper_tag: 'tr' do |request_form| %>
                    <%= request_form.collection_select :department,  RefDepartment.order('name ASC'),  :name, :name,{},{ :class => "input-medium", tabindex: i}%>
                    <%= request_form.collection_select :hospital,  RefHospital.order('name ASC'),  :name, :name,{},{ :class => "input-medium",tabindex: (i+1)} %>
                    <%= request_form.text_field :begin_date, :class => "datefield input-small", value: ldate(request.begin_date), :size => "16",tabindex: (i+2)  %>
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <%= request_form.text_field :finish_date, :class => "datefield input-small",value: ldate(request.finish_date), :size => "16",tabindex: (i+3)  %>
                    <span class="add-on"><i class="icon-calendar"></i></span>
                    <%= request_form.link_to_remove '<i class="icon-remove"></i>'.html_safe %>
                    <br>
                <% end %>
                    <% i=i+4 %>
            <% end %>
            <p><%= f.link_to_add t("requests.add"), :requests %></p>

            <legend><%= t("files.title") %></legend>
            <div class="row-fluid">
              <div class="span6">
                <p>
                  <label><b><%= t("files.photo") %></b></label>
                  <%= f.file_field :photo %>
                </p>
                <p>
                  <label><b><%= t("files.study_approval") %></b></label>
                  <%= f.file_field :study_approval %>
                </p>
              </div>
              <div class="span6">
                <p>
                  <label><b><%= t("files.request_form") %></b></label>
                  <%= f.file_field :request_form %>
                </p>
                <p>
                  <label><b><%= t("files.dorms_form") %></b></label>
                  <%= f.file_field :dorms_form %>
                </p>
              </div>
            </div>


            <legend></legend>
            <p style="text-align: center">
              <br/><span style="margin-left: 20px;">    <%= link_to  '<i class="icon-remove"></i> '.html_safe+t("actions.cancel"), students_path, :class=>"floatleft"%></span>
              <button type="submit" class="btn btn btn-success "><i class="icon-ok icon-white"></i><%= " "+t("actions.submit") %></button>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
</html>
