<%= stylesheet_link_tag 'vendor/flags32' %>
<div class="container f32">

  <div class="row">
    <div class="span3">
      <%= link_to t("index.create_student"), new_student_path, class: 'btn btn-large btn-primary span2 newstudent' %>

    </div>
    <div class="span9">
      <div class="control-group">
        <div class="controls">
          <div class="input-append">
            <%= form_tag students_path, :method => 'get' do %>
                <p>
                  <%= text_field_tag :search, params[:search], :class=>"span4 btn-large", :id=>"search", :placeholder=>t("index.search_by_name") %>
                  <button type="submit" class="btn btn-large"><i class="icon-search"></i></button>
                </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="tabbable tabs-left filterslables">
        <ul class="nav nav-tabs">
          <li class=<%= 'active' if @active == 'by_country' %>>
            <a><div class="li">
              <h4><%= t("index.search_by_country") %> </h4>
              <%= form_tag students_path, :method => 'get', :class => 'submit_on_change' do %>
                  <p>
                    <%= collection_select(:country_search, params[:country_search], Country.where(id: Student.pluck(:country)).order('name_heb ASC'), :id, :name_heb, options = { :include_blank => t("index.choose_country"), selected: params[:country_search]}, html_options = {:class => :span2, :id => 'country_search', :name => :country_search})  %>
                  </p>
              <% end %>
            </div></a>
          </li>
          <li class="<%= 'active' if @active == 'by_status' %>">
            <a><div class="li">
              <h4><%= t("index.search_by_status") %></h4>
              <%= form_tag students_path, :method => 'get', :class => 'submit_on_change' do %>
                  <p>
                    <%= select(:status_search, params[:status_search], @student_statuses.values.collect{|p| [p[:title],p[:id]]}, options = { selected: params[:status_search], :include_blank => t('index.choose_status')}, html_options = {:class => :span2, :id => 'status_search', :name => :status_search} ) %>

                  </p>
              <% end %>
            </div></a>
          </li>
          <li class=<%= 'active' if @active == 'by_request' %>>
            <a><div class="li">
              <h4><%= t("index.search_by_request") %> </h4>
              <%= form_tag students_path, :method => 'get', :class => 'submit_on_change' do %>
                  <p>
                    <%= collection_select(:request_search, params[:request_search], RefDepartment.all, :name, :name, options = { :include_blank => t("index.choose_department"), selected: params[:request_search]}, html_options = {:class => :span2, :id => 'request_search', :name => :request_search})  %>
                  </p>
              <% end %>
            </div></a>
          </li>
        </ul>
      </div>

    </div>
    <div class="span9">
      <table class="table table-hover table-condensed">
        <thead>
        <tr>
          <th><%= t("students.name") %></th>
          <th><%= t("students.arrival_date") %> </th>
          <th><%= t("students.country") %></th>
          <th><%= t("students.status") %></th>
        </tr>
        </thead>
        <tbody>
        <% if @students %>
            <% @students.each  do |s|%>
                <tr class="clickable" onclick="location.href='<%= student_path(s) %>'">
                  <td>
                    <%= link_to s.name, s %>
                    <br><span class="email">(<%= s.mail%>)</span>
                  </td>
                  <td><%= ldate(s.arrival_date) %></td>
                  <% country = Country.find(s.country) %>
                  <% flagCode = "flag #{country.code}".downcase %>
                  <td><span class="country"><i class='<%=flagCode%>'></i> <%= country.name_heb %></span></td>
                  <td><%= @student_statuses.find{|k, v| v[:id] == s.status.to_i }.last[:title] %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>
</div> <!-- /container -->
