<%= stylesheet_link_tag 'vendor/flags32' %>
<div class="container f32">

  <div class="topbar">
    <div class="btn-group floatleft">
      <%= link_to '<i class="icon-edit"></i> ערוך'.html_safe, edit_student_path(@student), class: 'btn' %>
      <%= link_to '<i class="icon-trash icon-white"></i> מחק'.html_safe, @student, :method => :delete, data: { confirm: t("students.delete_confirm") }, class: "btn btn-danger" %>

    </div>
    <% country = Country.find(@student.country) %>
    <% flagCode = "flag #{country.code}".downcase %>
    <h2><%= @student.name %> <span class="country">(<i class='<%=flagCode%>'></i> <%= country.name_heb %>)</span></h2>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well">
        <span class="status"><%= t("students.status")%>:
          <%= best_in_place @student, :status, :type => :select, :collection => @student_statuses.values.collect{|p| [p[:id],p[:title]]},html_attrs: { class: 'input-small' }, :activator => "#editStatus" %>
        </span>
        <a id="editStatus" href="#">(<%= t("actions.update") %>)</a>
        <hr/>
        <h4><%= t("tasks.title") %> </h4>
        <table class="table">
          <%= print_tasks(@student) %>
        </table>
      </div>
    </div>
    <div class="span8">
      <div class="well">
        <% if @student.photo? %>
            <a href="<%= @student.photo.url %>"><%= image_tag @student.photo.url(:thumb), :class => 'passportimg' %></a>
           <span class="deletephoto"><%= link_to '<i class="icon-remove"></i> '.html_safe, student_deleteFile_path(student: @student, type: 'photo'), data: { confirm: t("students.delete_file_confirm") }, rel: "tooltip", title: t('delete_file') %></span>
      <% end %>
        <h3 class="nospace"><%= t("students.details") %> </h3>
        <ul>
          <li><b><%= t("students.passport") %>: </b> <%=@student.passport %></li>
          <li><b><%= t("students.birthday") %>: </b><%= ldate(@student.birthday) %> <%= printAge(@student)  %> </li>
          <li><b><%= t("students.mail") %>: </b><%= @student.mail %></li>
          <li><b><%= t("students.university") %>: </b> <%= @student.university %></li>
          <li><b><%= t("students.year") %>: </b> <%= @student.year %></li>
          <li><b><%= t("students.arrival_date") %>: </b><%= ldate(@student.arrival_date) %></li>
          <li><b><%= t("students.languages") %>: </b> <%= @student.languages %></li>
          <li><b><%= t("students.past_departments") %></b>: <%= @student.past_departments %></li>
        </ul>
        <div class="row-fluid centered">
          <% if @student.study_approval? %>
              <div class="span3"> <%= link_to '<i class="icon-file"></i> '.html_safe+t("files.study_approval"), @student.study_approval.url  %>
              <%= link_to '<i class="icon-remove"></i> '.html_safe, student_deleteFile_path(student: @student, type: 'study_approval'), data: { confirm: t("students.delete_file_confirm") }, rel: "tooltip", title: t('delete_file')  %></div>
          <% end %>
          <% if @student.request_form? %>
              <div class="span3"> <%= link_to '<i class="icon-file"></i> '.html_safe+t("files.request_form"), @student.request_form.url  %>
              <%= link_to '<i class="icon-remove"></i> '.html_safe, student_deleteFile_path(student: @student, type: 'request_form'), data: { confirm: t("students.delete_file_confirm") }, rel: "tooltip", title: t('delete_file')  %></div>
          <% end %>
          <% if @student.dorms_form? %>
              <div class="span3"> <%= link_to '<i class="icon-file"></i> '.html_safe+t("files.dorms_form"), @student.dorms_form.url  %>
              <%= link_to '<i class="icon-remove"></i> '.html_safe, student_deleteFile_path(student: @student, type: 'dorms_form'), data: { confirm: t("students.delete_file_confirm") }, rel: "tooltip", title: t('delete_file')  %></div>
          <% end %>
        </div>
      </div>
      <div class="well">
        <h3 class="nospace"><%= t("requests.title") %></h3>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th><%= t("requests.department") %></th>
            <th><%= t("requests.hospital") %></th>
            <th><%= t("requests.begin_date") %></th>
            <th><%= t("requests.finish_date") %></th>
            <th><%= t("requests.status") %></th>
          </tr>
          </thead>
          <tbody>
          <% if @student.requests %>
              <% @student.requests.each  do |r|%>
                  <tr>
                    <td><%= r.department %></td>
                    <td><%= r.hospital %></td>
                    <td><%= ldate(r.begin_date) %></td>
                    <td><%= ldate(r.finish_date) %></td>
                    <td>
                      <%= best_in_place r, :status,:path => student_updateRequest_path(r.id), :type => :select, :collection => @request_statuses_array ,html_attrs: { class: 'input-small' }, :activator => "#edit#{r.id}" %>
                      <a id="edit<%=r.id %>"  href="#">(<%= t("actions.update") %>)</a>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr>
</div> <!-- /container -->

