<div class="container">

  <p id="notice"><%= params[:notice] %></p>
  <div class="row">
    <div class="span6">
      <div class="well">
        <h3><%= t("management.hospitals.title") %></h3>
        <span><%= t("management.hospitals.warning") %></span>
        <hr/>
        <table class="table">
          <thead>
          <tr>
            <th class="span4"><%= t("management.name") %></th>
          </tr>
          </thead>
          <tbody>
          <% if @hospitals %>
              <% @hospitals.each  do |d|%>
                  <tr>
                    <td><%= best_in_place d, :name, :path => managment_update_path(obj: 'hospital', id: d.id), :activator => "#editHospital#{d.id}" %></td>
                    <td><a id="<%= "editHospital#{d.id}" %>"  href="#"><%= t("actions.edit") %></a></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2">
              <%= form_for(@newHospital, url: managment_createHospital_path, html: {class: 'form-inline'}) do |f| %>
                  <%= f.text_field :name %>
                  <%= f.submit t("actions.submit"), class: 'btn' %>
              <% end %>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>
    <div class="span6">
      <div class="well">
        <h3><%= t("management.departments.title") %></h3>
        <span><%= t("management.departments.warning") %></span>
        <hr/>
        <table class="table">
          <thead>
          <tr>
            <th><%= t("management.name") %></th>
          </tr>
          </thead>
          <tbody>
          <% if @departments %>
              <% @departments.each  do |d|%>
                  <tr>
                    <td><%= best_in_place d, :name, :path => managment_update_path(obj: 'department', id: d.id), :activator => "#editDepartment#{d.id}" %></td>
                    <td><a id="<%= "editDepartment#{d.id}" %>"  href="#"><%= t("actions.edit") %></a></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="2">
              <%= form_for(@newDepartment, url: managment_createDepartment_path, html: {class: 'form-inline'}) do |f| %>
                  <%= f.text_field :name %>
                  <%= f.submit t("actions.submit"), class: 'btn' %>
              <% end %>
            </td>
          </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
