<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Country:</b>
  <%= @student.country %>
</p>

<p>
  <b>Passport:</b>
  <%= @student.passport %>
</p>

<p>
  <b>Birthday:</b>
  <%= @student.birthday %>
</p>

<p>
  <b>University:</b>
  <%= @student.university %>
</p>

<p>
  <b>Year:</b>
  <%= @student.year %>
</p>

<p>
  <b>Arrivaldate:</b>
  <%= @student.arrivalDate %>
</p>

<p>
  <b>Languages:</b>
  <%= @student.languages %>
</p>

<p>
  <b>Pastdepartments:</b>
  <%= @student.pastDepartments %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
